[submodule "src/feature_matcher/models/SuperGluePretrainedNetwork"]
	path = src/feature_matcher/models/SuperGluePretrainedNetwork
	url = https://github.com/BumblebeeAS/SuperGluePretrainedNetwork.git
[submodule "src/feature_matcher/models/Coarse_LoFTR_TRT"]
	path = src/feature_matcher/models/Coarse_LoFTR_TRT
	url = https://github.com/Kolkir/Coarse_LoFTR_TRT.git
[submodule "src/feature_matcher/models/QuadTreeAttention"]
	path = src/feature_matcher/models/QuadTreeAttention
	url = https://github.com/Tangshitao/QuadTreeAttention.git
[submodule "src/feature_matcher/models/ALIKE"]
	path = src/feature_matcher/models/ALIKE
	url = git@github.com:Shiaoming/ALIKE.git
[submodule "src/feature_matcher/models/LoFTR_TRT"]
	path = src/feature_matcher/models/LoFTR_TRT
	url = git@github.com:Amadeus-Winarto/LoFTR_TRT.git
[submodule "src/feature_matcher/models/DKM"]
	path = src/feature_matcher/models/DKM
	url = git@github.com:Parskatt/DKM.git
[submodule "docs"]
	path = docs
	url = git@github.com:BumblebeeAS/image_matching.wiki
[submodule "src/feature_matcher/models/LightGlue"]
	path = src/feature_matcher/models/LightGlue
	url = git@github.com:cvg/LightGlue.git
[submodule "src/feature_matcher/models/DALF_CVPR_2023"]
	path = src/feature_matcher/models/DALF_CVPR_2023
	url = git@github.com:verlab/DALF_CVPR_2023.git
