<?xml version="1.0"?>
<launch>

  <arg name="camera_topic" default="/auv4/front_cam/image_rect_color/compressed" />
  <arg name="camera_info_topic" default="/auv4/front_cam/camera_info" />
  <arg name="visualization_topic" default="/bootlegger_match_vis/compressed" />
  <arg name="template_width" default="0.6096" />
  <arg name="template_height" default="1.2192" />

  <!-- 100/px width -->
  <!-- 0.159960313, 0.480099482 -->
  <!-- −0.12971906, −0.220308808 -->
  <arg name="use_default_dim" default="true" />
  <!-- <arg name="detected_objects_topic" default="auv4" /> -->
  <!-- <arg name="matcher" default="superpoint_superglue" /> -->
  <!-- <arg name="matcher" default="loftr" /> -->
  <arg name="matcher" default="dkm" />
  <arg name="template" default="Bootlegger" />


  <!-- Launch the pose_estimator_node node from the image_matching package. -->
  <node name="pose_estimator_node" pkg="image_matching" type="pose_estimator_node.py" output="screen">
    <param name="camera_topic" value="$(arg camera_topic)" />
    <param name="camera_info_topic" value="$(arg camera_info_topic)" />
    <param name="use_default_dim" value="$(arg use_default_dim)" />
    <param name="template_width" value="$(arg template_width)" unless="$(arg use_default_dim)" />
    <param name="template_height" value="$(arg template_height)" unless="$(arg use_default_dim)" />
    <param name="visualization_topic" value="$(arg visualization_topic)" />
    <!-- <param name="detected_objects_topic" value="$(arg detected_objects_topic)" /> -->
    <param name="matcher" value="$(arg matcher)" />
    <param name="template" value="$(arg template)" />
  </node>

  <!-- Static transform for bootlegger -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="auv4_torpedo_board_tf"  args="0 0 0 0 -1.57079632679 1.57079632679 /auv4/Bootlegger /auv4/torpedo_board "/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="auv4_torpedo_board_ned_tf"  args="0 0 0 0 0 3.14159265358979 /auv4/torpedo_board /auv4/torpedo_board_ned "/>
  <!-- 2.8 -1.45 0.88 -->

</launch>
