<?xml version="1.0"?>
<launch>
  <!-- Use rectified image if available -->
  <arg name="front_camera_topic" default="/auv4/front_cam/image_rect_color/bright/compressed" />
  <!-- <arg name="front_camera_topic" default="/auv4/front_cam/image_rect_color/low_light/compressed" /> -->
  <arg name="front_camera_info_topic" default="/auv4/front_cam/camera_info" />
  <!-- <arg name="bottom_camera_topic" default="/auv4/bot_cam/image_rect_color/compressed" /> -->
  <arg name="bottom_camera_topic" default="/auv4/bot_cam/image_rect_color/bright/compressed" />
  <arg name="bottom_camera_info_topic" default="/auv4/bot_cam/camera_info" />
  <arg name="visualization_topic" default="/impose_dev_vis/compressed" />
  <arg name="map_ned_frame" default="world_ned" />
  <arg name="base_link_frame" default="auv4/base_link" />
  <arg name="odom_ned_frame" default="world_ned" />

  <!-- 100/px width -->
  <!-- 0.159960313, 0.480099482 -->
  <!-- −0.12971906, −0.220308808 -->
  <!-- <arg name="detected_objects_topic" default="auv4" /> -->
  <arg name="matcher" default="superpoint_lightglue" />
  <!-- <arg name="matcher" default="keyaffhard_flann" /> -->
  <!-- <arg name="matcher" default="coarse_loftr" /> -->
  <!-- <arg name="matcher" default="orb_flann" /> -->


  <!-- Launch the pose_estimator_node node from the image_matching package. -->
  <node name="pose_estimator_node" pkg="image_matching" type="pose_estimator_node_dev.py" output="screen" respawn="true">
    <param name="front_camera_topic" value="$(arg front_camera_topic)" />
    <param name="front_camera_info_topic" value="$(arg front_camera_info_topic)" />
    <param name="bottom_camera_topic" value="$(arg bottom_camera_topic)" />
    <param name="bottom_camera_info_topic" value="$(arg bottom_camera_info_topic)" />
    <param name="visualization_topic" value="$(arg visualization_topic)" />
    <param name="map_ned_frame" value="$(arg map_ned_frame)" />
    <!-- <param name="detected_objects_topic" value="$(arg detected_objects_topic)" /> -->
    <param name="matcher" value="$(arg matcher)" />
    <param name="debug" value="true" />
  </node>

</launch>
