<?xml version="1.0"?>
<launch>

  <arg name="camera_topic" default="/auv4/bot_cam/image_color/compressed" />
  <arg name="camera_info_topic" default="/auv4/bot_cam/camera_info" />
  <arg name="template_width" default="0.2032" />
  <arg name="template_height" default="0.3556" />
  <arg name="use_default_dim" default="true" />
  <!-- <arg name="detected_objects_topic" default="auv4" /> -->
  <arg name="matcher" default="superpoint_bf" />
  <arg name="template" default="earth_bin" />


  <!-- Launch the pose_estimator_node node from the image_matching package. -->
  <node name="pose_estimator_node" pkg="image_matching" type="pose_estimator_node.py" output="screen">
    <param name="camera_topic" value="$(arg camera_topic)" />
    <param name="camera_info_topic" value="$(arg camera_info_topic)" />
    <param name="use_default_dim" value="$(arg use_default_dim)" />
    <param name="template_width" value="$(arg template_width)" unless="$(arg use_default_dim)" />
    <param name="template_height" value="$(arg template_height)" unless="$(arg use_default_dim)" />
    <!-- <param name="detected_objects_topic" value="$(arg detected_objects_topic)" /> -->
    <param name="matcher" value="$(arg matcher)" />
    <param name="template" value="$(arg template)" />
  </node>

</launch>
